.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

input {
  width: 80%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #777;
}

button {
  margin-top: 15px;
  padding: 12px 20px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

.review {
  margin-top: 12px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: left;
}
